test/.logs/*
test/unit_test/.logs/*
test/validation/.logs/*
.noseids
*.orig
.gitignore~

pysteps/steps/cysteps_mpi.so
pysteps/steps/cysteps.cpp

.logs/*
.project
examples/tutorial/.logs
test/validation/validation_efield/.logs/
test/validation/validation_mpi/.logs/
doc/documentation/.logs/
test/validation/validation_cp/cp*

STEPS.egg-info/PKG-INFO
*.pyc
*.DS_Store
*.dropbox
.logs

*.py~

doc/user_manual/.logs
doc/user_manual/build
build/
_build*/

README

*.so
pysteps/steps/cysteps_mpi.cpp

.idea

.python-version
Pipfile
Pipfile.lock

.ipynb_checkpoints

spconfig.py
