[submodule "test/third_party/googletest"]
	path = test/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "src/third_party/easyloggingpp"]
	path = src/third_party/easyloggingpp
	url = https://github.com/zuhd-org/easyloggingpp.git
